{% extends 'main/base.html' %}
{% block title %} Index {% endblock %}
{% block content %}

<div class="row mt-3 pt-3">
    <div class="col-md-8">
        <canvas id="myChart" width="400" height="300"></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    // labels: ['Red', 'Blue', 'Green', 'Orange'],
                    labels: [{% for data in data %}, '{{ data.ticker }}', {% endfor %}],
            datasets: [
                {
                    label: 'Bullish_Sentiment',
                    data: [{% for data in bullish_data %}, {{ data.bullish_sentiment }}, {% endfor %}],
                    backgroundColor: 'rgba(42, 187, 155, 1)',
                },
                {
                    label: 'Bearish_Sentiment',
                    data: [{% for data in bearish_data %}, {{ data.bearish_sentiment }}, {% endfor %}],
                    backgroundColor: 'rgba(207, 0, 15, 1)',
                },
                {
                    label: 'Neutral_Sentiment',
                    data: [{% for data in neutral_data %}, {{ data.neutral_sentiment }}, {% endfor %}],
                    backgroundColor: 'rgba(191, 191, 191, 1)',
                },
                {
                    label: 'Mentions',
                    data: [{% for data in data %}, {{ data.num_mentions }}, {% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 1)',
                }
        ]

            },
            options: {
                scales: {
                    x: {
                        stacked: true,
                    },
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        </script>
    </div>
</div>
{% endblock %}